/* rout.html specific style */
html, body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 400px;
    width: 100%;
    background: transparent !important;
    border-radius: 15px; 
}

.leaflet-container {
    background: rgba(0, 0, 0, 0) !important;
}